body {
    font-family: Arial, sans-serif;
    background-image: url('cportal.png'); /* Background image */
  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 80px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px; /* Added margin */
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

div {
    margin-top: 40px;
}

button {
    padding: 20px 50px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4d0f68;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
