/* Navbar styles */
.navbar {
    background-color: #4E6479;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Scholarship box styles */
.scholarship-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Styling for buttons */
.buttons {
    margin-top: 10px;
    text-align: right; /* Align buttons to the right */
}

.buttons button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 5px 10px; /* Adjust padding to make buttons smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjust font size */
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Add margin between buttons */
}

.buttons button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.buttons button:hover {
    background-color: #45a049; /* Darker green on hover */
}
